button {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 1;
}
span {
  background-color: red;
  display: block;
  position: absolute;
  margin: auto;
  height: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .is-open {
    display: block;
    span {
      &:nth-child(2) {
        display: none;
      }
      &:first-child {
        transform: rotate(45deg)
      }
      &:last-child {
        transform: rotate(-45deg)
      }
    }
  }
}
nav {
  box-sizing: border-box;
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  padding: 100px;
  .is-open {
    display: block;

  }
}
a {
  color: white;
  display: block;
}
