/*=============================================
=             Variables - Colors              =
=============================================*/

// Primary
$COLOR_WHITE: #FFFFFF;
$COLOR_BLACK: #1F1F1F;
$COLOR_GREY: #929292;
$COLOR_MID_GREY: #F1F1F1;
$COLOR_LIGHT_GREY: #F9F9F9;
$COLOR_BLUE: #00A3BD;
$COLOR_DARK_BLUE: #0A415A;

// Theme
$THEME_COLOR: $COLOR_BLACK;
