/*=============================================
=             Variables - Layout              =
=============================================*/

// Breakpoints
$TINY: 361px;
$XXS: 400px;
$XS: 481px;
$XSM: 590px;
$SM: 769px;
$MD: 993px;
$LG: 1201px;
$XL: 1441px;
$XXL: 1981px;

// Default Grid Spacing
$GRID_GUTTER_WIDTH: 20px;
